
// // Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
//
// // Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
// @import '../../node_modules/materialize-sass-origin/sass/materialize.scss';

//variables

//HSLA
$color1h: hsla(195%, 46%, 5%, 1);
$color2h: hsla(190%, 72%, 48%, 1);
$color3h: hsla(194%, 35%, 60%, 1);
$color4h: hsla(211%, 16%, 68%, 1);
$color5h: hsla(220%, 5%, 88%, 1);

/* RGB */
$color1: rgba(7, 16, 19, 1);
$color2: rgba(35, 181, 211, 1);
$color3: rgba(117, 171, 188, 1);
$color4: rgba(162, 174, 187, 1);
$color5: rgba(223, 224, 226, 1);

$sans1: 'Martel Sans', sans-serif;
$sans2: 'Muli', sans-serif;
$serif1: 'Alegreya', serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

//main nav style
#nav-bar-home {
  display: flex;
  align-items: center;
  background-color: $color3;
  color: $color1;
  padding: 20px;
  box-shadow: 1px 1px 1px black;
}

#logo-jb3 {

  height: 400px;

}

.name-header {
  font-family: $sans1;
}

.developer {
  font-family: $sans1;
}

.para {
  font-family: $serif1;
}

.para1 {
  @extend .para;
  font-size: 18px;
}

.about-header {
  font-family: $sans1;
}

#profile-pic {
  border-radius: 15px;
}
.insta {
  height: 60px;
}
.contact-info a {
  display: block;
  font-family: $serif1;
  font-size: 20px;
  min-height: 16px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact {
  text-decoration: none;
  list-style: none;

}

.contact-info li.phone a {
  background-image: url('../images/phone.png');
  margin: 10px 0;
}

.contact-info li.github a {
  background-image: url('../images/github-10-xxl.png');
  margin: 10px 0;
}

.contact-info li.mail a {
  background-image: url('../images/mail.png');
}

.contact-info li.facebook a {
  background-image: url('../images/facebook.png');
}

.contact-info li.twitter a {
  background-image: url('../images/twitter.png');
}
