
// // Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
//
// // Import Bootstrap
// @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../node_modules/materialize-css/sass/materialize.scss';

//variables

//HSLA
$color1h: hsla(195%, 46%, 5%, 1);
$color2h: hsla(190%, 72%, 48%, 1);
$color3h: hsla(194%, 35%, 60%, 1);
$color4h: hsla(211%, 16%, 68%, 1);
$color5h: hsla(220%, 5%, 88%, 1);

/* RGB */
$color1: rgba(7, 16, 19, 1);
$color2: rgba(35, 181, 211, 1);
$color3: rgba(117, 171, 188, 1);
$color4: rgba(162, 174, 187, 1);
$color5: rgba(223, 224, 226, 1);

$color6: #3FA56A;

$sans1: 'Martel Sans', sans-serif;
$sans2: 'Muli', sans-serif;
$serif1: 'Alegreya', serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

//main nav style
#nav-bar-home {
  height: 300px;
  background-color: $color2;
  color: $color1;
  //padding: 15px;
  box-shadow: 1px 1px 1px black;
}

#logo-jb3 {
  padding: 15px;
  height:300px;

}

.name-header {
  font-family: $sans1;
}

.developer {
  font-family: $sans1;
  font-size: 2.3rem;
}

.langs {
  @extend .developer;
  font-size: 1.28rem;
}

.para {
  font-size: 18px;
  font-family: $serif1;
}

.para1 {
  @extend .para;

}

.about-header {
  font-family: $sans1;
}

#profile-pic {
  border-radius: 15px;
  margin-top: 40px;
}

#insta {
  height: 60px;

}

#logo {
  margin-top: 2.3rem;
  background-color: $color3;
  color: white;
  text-shadow: 0px 1px 0px $color1;
}

.github {
  height: 62px;
}
.contact-info a {
  display: block;
  font-family: $serif1;
  font-size: 20px;
  min-height: 16px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact {
  text-decoration: none;
  list-style: none;

}

.page-footer {
  background-color: $color2;
}

.contact-info li.phone a {
  background-image: url('../images/phone.png');
  margin: 10px 0;
}

.contact-info li.github a {
  background-image: url('../images/github5.png');
  margin: 10px 0;
}

.contact-info li.mail a {
  background-image: url('../images/mail.png');
}

.contact-info li.facebook a {
  background-image: url('../images/facebook.png');
}

.contact-info li.twitter a {
  background-image: url('../images/twitter.png');
}
